USE [_connector]
GO
/****** Object:  Table [dbo].[agwm]    Script Date: 7/28/2017 10:17:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agwm](
	[CountryCode] [nchar](2) NULL,
	[Region] [nvarchar](255) NULL,
	[Area] [nvarchar](255) NULL
) ON [PRIMARY]

GO
