USE [_connector]
GO
/****** Object:  StoredProcedure [dbo].[removeFormData]    Script Date: 7/28/2017 10:17:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[removeFormData]
(
	@ID int
)
AS
BEGIN
DELETE FROM FormData WHERE FormDataID = @ID
END
GO
