USE [_connector]
GO
/****** Object:  StoredProcedure [dbo].[getGlobalQueueSummary]    Script Date: 7/28/2017 10:17:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getGlobalQueueSummary]
AS
SELECT 	
	UserID, NickName, DateCreated, LastName, FirstName, UserName
FROM get_global_queue_summary
GO
